## WebScraping List of airports by IATA airport code

In [5]:
# Imported required libraries 

import selenium                             # for Webdriver
import pandas as pd                         # for DataFrame
from selenium import webdriver              # Driver
import warnings                             # To avoid any warning message
warnings.filterwarnings('ignore')           
import string                               # To get alphabeticals

In [6]:
# Working to get all urls from which we have to fetch data

urls = []
path = 'https://en.wikipedia.org/wiki/List_of_airports_by_IATA_airport_code:_'
for letter in string.ascii_uppercase:
    urls.append(path+letter)

In [11]:
# Function will work to location the element and will scrap

def data_scraping(url):
    driver = webdriver.Chrome('/Users/bhushansharma/chromedriver_mac64/chromedriver')
    driver.get(url)
    
    # Location of elements
    search_table = driver.find_elements("xpath",'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td')
    search_header = driver.find_elements("xpath", '//table[@class="wikitable sortable jquery-tablesorter"]/thead/tr/th')
    
    
    # Exception for Page Q where, two last row cell was merge
    if url[-1] == 'Q':
        for i in range(0,(len(search_table)-8),6):
            IATA.append(search_table[i].text)
            ICAO.append(search_table[i+1].text)
            Airport_name.append(search_table[i+2].text)
            Location_served.append(search_table[i+3].text)
            Time.append(search_table[i+4].text)
            DST.append(search_table[i+5].text)
            Header.append(url[-1])
            
    # Exception for few pages where data pattern is changing 
    elif len(search_header) == 5:
        for i in range(0,len(search_table),4):
            IATA.append(search_table[i].text)
            ICAO.append(search_table[i+1].text)
            Airport_name.append(search_table[i+2].text)
            Location_served.append(search_table[i+3].text)
            Time.append("")
            DST.append("")
            Header.append(url[-1])
        
    # Scraping data from pages
    else: 
        
        for i in range(0,len(search_table),6):
            IATA.append(search_table[i].text)
            ICAO.append(search_table[i+1].text)
            Airport_name.append(search_table[i+2].text)
            Location_served.append(search_table[i+3].text)
            Time.append(search_table[i+4].text)
            DST.append(search_table[i+5].text)
            Header.append(url[-1])

In [12]:
IATA = []
ICAO = []
Airport_name = []
Location_served = []
Time = []
DST = []
Header = []

for url in urls:
    data_scraping(url)   # Function calling

In [23]:
# print(len(IATA))
# print(len(ICAO))
# print(len(Airport_name))
# print(len(Location_served))
# print(len(Time))
# print(len(DST))
# print(len(Header))

# DataFrame creation and updation of respective columns
data_df = pd.DataFrame()
data_df['IATA'] = IATA
data_df['ICAO'] = ICAO
data_df['Airport_name'] = Airport_name
data_df['Location_served'] = Location_served
data_df['Time'] = Time
data_df['DST'] = DST
data_df['Page'] = Header

data_df.head()

,IATA,ICAO,Airport_name,Location_served,Time,DST,Page
0,AAA,NTGA,Anaa Airport,"Anaa, Tuamotus, French Polynesia",UTC−10:00,,A
1,AAB,YARY,Arrabury Airport,"Arrabury, Queensland, Australia",UTC+10:00,,A
2,AAC,HEAR,El Arish International Airport,"El Arish, Egypt",UTC+02:00,,A
3,AAD,HCAD,Adado Airport,"Adado (Cadaado), Galguduud, Somalia",UTC+03:00,,A
4,AAE,DABB,Rabah Bitat Airport (Les Salines Airport),"Annaba, Algeria",UTC+01:00,,A

In [24]:
# saving DataFrame in CSV file format
data_df.to_csv('raw_data.csv')